body {
  background: #151515 url(./images/black-linen.png);
  color: #fafafa;
}

nav {
  background: #b4a5a5;
  position: sticky;
  top: 0;
}

.container h3 {
  margin-top: 2em;
}

/* Masthead */

/* TODO: Try using margin/padding instead of hardcoded height */
#masthead-container {
  height: calc(95vh - 93px); /* The 93px is the size of the nav bar */
}

#masthead-container h1 {
  border-left: solid #3c415c .5em;
}

#masthead-container p {
  border-right: solid #301b3f 1em;
  display: inline;
  padding: 0 .5em;
}

/* Navbar */
nav a {
  margin: 0 .1em;
}

/* Biography */
.background-img-container {
  background: linear-gradient(180deg,#15151536,#1515159a), 
    center / cover no-repeat url(images/Zen-5.jpg) fixed;
  height: 70vh;
}

/* Get Hello */

#get-hello-button {
  margin: 1em 0;
}

/* Contact Form */
#contact-form-container button,
#contact-form-container input {
  margin: 1em 0;
  color: inherit;
}
#contact-form-container label {
  display: block;
}
